<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>test results</h1>

  <p><%=king %> </p>
  <p><%=tier1 %> </p>
  <p><%=tier2 %> </p>
  <p><%=tier3 %></p>
</body>
</html>
