/* Header */
header {
    text-align: center;
    /* background-color: lightgray; */
    padding: 20px 0;
}

header h1 {
    padding-bottom: 20px;
    font-size: 60px;
    text-shadow: 10px 10px 10px rgb(0, 0, 0), 10px 10px 10px rgb(85, 83, 83);
    color:white;
}

header nav ul {
    display: flex;
}

header nav ul li {
    width: 33.3333%;

}

header nav ul li a {
    text-shadow: 6px 6px 6px rgb(0, 0, 0), 6px 6px 6px rgb(225, 14, 14);
    color:white;
    font-size: x-large;
    text-decoration: none;
}

/* Footer */
footer {
    text-align: center;
    /* background-color: lightgray; */
    padding: 20px 0;
    text-shadow: 6px 6px 6px rgb(0, 0, 0), 6px 6px 6px rgb(225, 14, 14);

}

footer ul {
    display: flex;
}

footer ul li {
    width: 33.3333%;
}

main h1{
    text-shadow: 6px 6px 6px rgb(0, 0, 0), 6px 6px 6px rgb(225, 14, 14);
    margin-bottom: 10px;
    font-size: x-large;
    text-align: center;
    font-weight: bolder;
}
form label{
    text-shadow: 6px 6px 6px rgb(0, 0, 0), 6px 6px 6px rgb(225, 14, 14);


}
form input{
    margin: 10px;
    
}
form button{
    text-shadow: 6px 6px 6px rgb(0, 0, 0), 6px 6px 6px rgb(225, 14, 14);
    font-family: 'Satisfy', cursive;
    font-size: large;
    background: none;
    border: none;
    color:white;
}
/* Index Main */

#hierarchyForm {
    text-align: center;
    width: fit-content;
    margin: 0 auto;
}

#hierarchyForm select, button {
    display: block;
}

#hierarchyForm select {
    width: 250px;
}

#hierarchyForm button {
    margin: 0 auto;
}

#creationNameInput {
    text-align: center;;
    width: 246px;
    margin:0;
}

.hiddenInput {
    display: none;
}

/* Create New Account Main */

#signupForm {
    text-align: center;
    width: fit-content;
    margin: 0 auto;
}

#signupForm input, button {
    display: block;
}

#signupForm select {
    width: 250px;
}

#signupForm button {
    margin: 0 auto;
}

/* Login Page Main */

#loginForm {
    text-align: center;
    width: fit-content;
    margin: 0 auto;
}

#loginForm input, button {
    display: block;
}

#loginForm select {
    width: 250px;
}

#loginForm button {
    margin: 0 auto;
}

/* Error Page Main */

#errorMessage {
    text-align: center;
    font-size: x-large;
}

/* Results Page */

#metadata {
    display: none;
}

.government {
    width: 33%;
    margin-left: 10%;
    border-radius: 10px;
    border: thin black solid;
    padding: 5px;
    margin-top: 10px;
    background-color: whitesmoke;
}

.tier1 {
    width: 33%;
    margin-left: 20%;
    border-radius: 10px;
    border: thin black solid;
    padding: 5px;
    margin-top: 10px;
    background-color: whitesmoke;
 }

.tier2 {
    width: 33%;
    margin-left: 30%;
    border-radius: 10px;
    border: thin black solid;
    padding: 5px;
    margin-top: 10px;
    background-color: whitesmoke;
}

.tier3 {
    width: 33%;
    margin-left: 40%;
    border-radius: 10px;
    border: thin black solid;
    padding: 5px;
    margin-top: 10px;
    background-color: whitesmoke;
}


body main form button img {
	border-radius: 45%;
}

.government_container{
    color:black;
}
