<select name = "culture" required>
  <option value="" disabled selected>Choose Linguistic Culture</option>
  <option value = "german" required>German</option>
  <option value = "greek" required>Greek</option>
  <option value = "japanese" required>Japanese</option>
  <option value = "slovak" required>Slovak</option>
</select>

<select name = "gender" required>
  <option value="" disabled selected>Choose Percentage of Male Rulership</option>
  <option value = "0" required>0%</option>
  <option value = ".1" required>10%</option>
  <option value = ".2" required>20%</option>
  <option value = ".3" required>30%</option>
  <option value = ".4" required>40%</option>
  <option value = ".5" required>50%</option>
  <option value = ".6" required>60%</option>
  <option value = ".7" required>70%</option>
  <option value = ".8" required>80%</option>
  <option value = ".9" required>90%</option>
  <option value = "1" required>100%</option>
</select>

<select name = "government" required>
  <option value="" disabled selected>Hierarchy Structure</option>
  <option value = "Kingdom" required>Kingdom</option>
  <option value = "Empire" required>Empire</option>
  <option value = "Republic" required>Republic</option>
  <option value = "People" required>People</option>
</select>

<select name = "tier1" required>
  <option value="" disabled selected>Number of Tier 1 Rulers</option>
  <option value = "1">1 Ruler</option>
  <option value = "2">2 Rulers</option>
  <option value = "3">3 Rulers</option>
  <option value = "4">4 Rulers</option>
  <option value = "5">5 Rulers</option>
</select>
<select name = "tier2" required>
  <option value="" disabled selected>Number of Tier 2 Rulers</option>
  <option value = "1">1 Ruler</option>
  <option value = "2">2 Rulers</option>
  <option value = "3">3 Rulers</option>
  <option value = "4">4 Rulers</option>
  <option value = "5">5 Rulers</option>
</select>
<select name = "tier3" required>
  <option value="" disabled selected>Number of Tier 3 Rulers</option>
  <option value = "1">1 Ruler</option>
  <option value = "2">2 Rulers</option>
  <option value = "3">3 Rulers</option>
  <option value = "4">4 Rulers</option>
  <option value = "5">5 Rulers</option>
</select>

<input id="creationNameInput" name="creationName" type="text" placeholder="Name Your Creation" required>