<select name = "culture">
  <option disabled selected>Choose Linguistic Culture</option>
  <option value = "german" required>German</option>
  <option value = "greek" required>Greek</option>
  <option value = "japanese" required>Japanese</option>
  <option value = "slovak" required>Slovak</option>
</select>