<label>Culture</label>
<select name = "culture">
  <option value="" disabled>Choose Linguistic Base For Culture's Names</option>
  <option value = "german" required>German</option>
  <option value = "greek" required>Greek</option>
  <option value = "japeneese" required>Japeneese</option>
  <option value = "slovak" required>Slovak</option>
</select>