<footer>
  <ul>
    <li>Political Hierachy Generator</li>
    <li>&copy 2020</li>
    <li>Peng Chen, Matthew Stewart, Joe Lee, Robert Carter, Peyton Cysewski</li>
  </ul>
</footer>
<script src="/js/app.js"></script>