<select id = "gender">
    <option value="" disabled>Choose Percentage of Male Rulership</option>
    <option value = "0" required>0%</option>
    <option value = ".1" required>10%</option>
    <option value = ".2" required>20%</option>
    <option value = ".3" required>30%</option>
    <option value = ".4" required>40%</option>
    <option value = ".5" required>50%</option>
    <option value = ".6" required>60%</option>
    <option value = ".7" required>70%</option>
    <option value = ".8" required>80%</option>
    <option value = ".9" required>90%</option>
    <option value = "1" required>100%</option>
   </select>