<select name = "government" required>
  <option value="" disabled selected>Hierarchy Structure</option>
  <option value = "Kingdom" required>Kingdom</option>
  <option value = "Empire" required>Empire</option>
  <option value = "Republic" required>Republic</option>
  <option value = "People" required>People</option>
</select>