<label>Goverment</label>
  <select name = "government">
    <option disabled default>Choose the Structure of Your Political Hierarchy</option>
    <option value = "Kingdom" required>Kingdom</option>
    <option value = "Empire" required>Empire</option>
    <option value = "Republic" required>Republic</option>
    <option value = "People" required>People</option>
</select>