<header>
  <h1>Political Hierachy Generator</h1>
  <nav>
    <ul>
      <li class="roundedButton"><a href="/">Create</a></li>
      <li class="roundedButton"><a href="/loginPage">Login</a></li>
      <li class="roundedButton"><a href="/createAccount">Sign Up</a></li>
    </ul>
  </nav>
</header>