<header>
  <h1>Political Hierachy Generator</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/saved">My Hierachies</a></li>
      <!-- <li><a href="/accountSettings"><%= username %></a></li> -->
    </ul>
  </nav>
</header>