<header>
  <h1>Welcome to Political Hierachy Generator</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><button id="loginButton">Login</button></li>
      <li><button id="signUpButton">Sign Up</button></li>
    </ul>
  </nav>
</header>