<header>
  <h1>Political Hierachy Generator</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/saved">My Hierarchies</a></li>
      <li><a href="/accountSettings">USERNAME FROM ID HERE</a></li>
    </ul>
  </nav>
</header>