<header>
  <h1>Political Hierachy Generator</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/createAccount">Sign Up</a></li>
    </ul>
  </nav>
</header>