<section id="signUpForm">
  <form action="/login" method="get">
    <label for="username">User Name
      <input type="text" name="username" required>
    </label>
    <label for="password">Password
      <input type="password" name="password" required>
    </label>
    <button type="submit">Sign Up</button>
  </form>
</section>