<select name = "tier1" required>
  <option value="" disabled selected>Number of Tier 1 Rulers</option>
  <option value = "1">1 Ruler</option>
  <option value = "2">2 Rulers</option>
  <option value = "3">3 Rulers</option>
  <option value = "4">4 Rulers</option>
  <option value = "5">5 Rulers</option>
</select>
<select name = "tier2" required>
  <option value="" disabled selected>Number of Tier 2 Rulers</option>
  <option value = "1">1 Ruler</option>
  <option value = "2">2 Rulers</option>
  <option value = "3">3 Rulers</option>
  <option value = "4">4 Rulers</option>
  <option value = "5">5 Rulers</option>
</select>
<select name = "tier3" required>
  <option value="" disabled selected>Number of Tier 3 Rulers</option>
  <option value = "1">1 Ruler</option>
  <option value = "2">2 Rulers</option>
  <option value = "3">3 Rulers</option>
  <option value = "4">4 Rulers</option>
  <option value = "5">5 Rulers</option>
</select>