<label>Tier 1 Ruler</label>
  <select name = "tier1">
    <option value = "1" required>1 Ruler</option>
    <option value = "2" required>2 Rulers</option>
    <option value = "3" required>3 Rulers</option>
    <option value = "4" required>4 Rulers</option>
    <option value = "5" required>5 Rulers</option>
</select>